  * {
    box-sizing: border-box;
  }
  body {
    background-color: #f8f8fa;
    font-family: SimSun;
  }
  main.container {
    margin: 15px 50px 0 50px;
  }
  section.panel {
    float: left;
    border: 1px solid rgb(201, 201, 201);
    box-sizing: border-box;
    height: auto; 
  }
  div.section-title {
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(201, 201, 201);
    background-color: rgb(233, 233, 233);
    color: darkblue;
    font-weight: bold;
  }
  #left-panel {
    width: 23%;
    background-color: linen;
    margin-right: 16px;
  }
  #right-panel {
    width: 75%;
  }
  div.articles {
    margin-left: 20px;
  }
  div.article {
    border-bottom: 1px solid rgb(201,201,201);
  }
  #pinfo {
    margin-left: 20px;
    padding-right: 10px;
  }
  #pinfo ul {
    padding-left: 12px;
  }
 p a {
    text-decoration: none;
    color: darkblue;
  } 
