  * {
    box-sizing: border-box;
  }
  body {
    background-color: #f8f8fa;
    font-family: SimSun;
  }
  main.container {
    margin: 158px 50px 0 50px;
  }
  section.panel {
    float: left;
    border: 1px solid rgb(201, 201, 201);
    box-sizing: border-box;
    height: auto; 
  }
  #left-panel {
    width: 75%;
    margin-right: 16px;
  }
  #right-panel {
    width: 23%;
    background-color: linen;
  }
  div.section-title {
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(201, 201, 201);
    background-color: rgb(233, 233, 233);
    color: darkblue;
    font-weight: bold;
  }
  div.s {
    margin-left: 20px;
  }
  div.post {
    text-align: center;  
    padding-left: 20px;
    padding-right: 10px;
  }
  div.title {
    padding-left: 5px;
  }
  .title p {
    font-size: 85%;
    padding-left: 10px;
  } 
  p a {
    text-decoration: none;
    color: darkgreen;
  }
</style>

